<div class="row">
  <div class="col-xs-12">
    <div class="fs-3 my-3">Display Integer String and Date in a component</div>
    <h5>Today's Date (fullDate) : {{ currentDate | date: "fullDate" }}</h5>
    <h5>Today's Date(shortDate) : {{ currentDate | date: "shortDate" }}</h5>
    <h5>Today's Date(mediumDate) : {{ currentDate | date: "mediumDate" }}</h5>
    <h5>Time Today : {{ currentDate | date: "h:mm a" }}</h5>
    <h5>Time Today : {{ currentDate | date: "h:mm:ss a z" }}</h5>
    <h5>Date : {{ todaysDate }}</h5>
  </div>
</div>
